## Name: Zian Chen

## Part 1

In [1]:
import glob
import pandas as pd

## Fetch data from cloned github folder and concatenate them

In [2]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('spotify_top200_viral50_data/*.csv')], ignore_index = True,sort=True)

In [3]:
df.shape

(1750, 24)

In [4]:
df.columns

Index(['Album(s)', 'Artist(s)', 'Chart Cycle', 'Chart Type', 'Country',
       'Days on Chart', 'Historical Positions', 'ISRC', 'Latest Charting Date',
       'Latest Position', 'Peak Date', 'Peak Position', 'Position Change',
       'Record Label', 'Release Date', 'Spotify Album Ids',
       'Spotify Album Link', 'Spotify Artist Id(s)', 'Spotify Artist Link',
       'Spotify Track Ids', 'Spotify Track Link', 'Streams', 'Track', 'UPC'],
      dtype='object')

## Drop columns and rename columns

In [5]:
df=df.drop(['Album(s)','UPC','Latest Charting Date','Spotify Track Link','Spotify Artist Link','Spotify Album Link','Streams','Chart Cycle'], axis=1)
df.rename(columns={'Track':'track','ISRC':'isrc','Spotify Track Ids':'track_id','Artist(s)':'artist','Spotify Artist Id(s)':'artist_id','Spotify Album Ids':'album_id','Release Date': 'r_date','Record Label' : 'label','Country':'country','Days on Chart':'days_chart','Chart Type':'chart_type','Peak Position':'peak_pos','Peak Date':'peak_date','Latest Position':'latest_pos','Position Change':'pos_chg','Historical Positions':'hist_pos'}, inplace=True)

In [6]:
df.shape

(1750, 16)

In [7]:
df.dtypes

artist         object
chart_type     object
country        object
days_chart      int64
hist_pos       object
isrc           object
latest_pos      int64
peak_date      object
peak_pos        int64
pos_chg       float64
label          object
r_date         object
album_id       object
artist_id      object
track_id       object
track          object
dtype: object

## Ensure "artist" and "track" columns are string and fill in NULL

In [8]:
df['artist']=df.artist.astype(str)
df['track']=df.track.astype(str)

In [9]:
df.isnull().any()

artist        False
chart_type    False
country       False
days_chart    False
hist_pos      False
isrc          False
latest_pos    False
peak_date     False
peak_pos      False
pos_chg        True
label          True
r_date        False
album_id      False
artist_id     False
track_id      False
track         False
dtype: bool

In [10]:
df.isnull().sum()

artist         0
chart_type     0
country        0
days_chart     0
hist_pos       0
isrc           0
latest_pos     0
peak_date      0
peak_pos       0
pos_chg       27
label         36
r_date         0
album_id       0
artist_id      0
track_id       0
track          0
dtype: int64

In [11]:
df.label = df.label.fillna('UNKNOWN')

## Create "prev_pos" and "pos_chg" columns

In [12]:
def prev(x):
    if len(x)>=2:
        return x[-2]
    else: 
        return 0
df["prev_pos"] = df["hist_pos"].str.split(',').apply(prev)

In [13]:
df[['prev_pos']].eq(0).sum() #there are 27 cells don't have previous position

prev_pos    27
dtype: int64

In [14]:
def magic(row):
    if row['prev_pos'] ==0:
        row['prev_pos']=row['latest_pos']
    return row
df = df.apply(magic,axis=1)#change the value of the 27 cells from 0 to "lastest_pos"

In [15]:
df['prev_pos']=df.prev_pos.astype(int)#ensure the types of the columns are int
df['latest_pos']=df.latest_pos.astype(int)
df['pos_chg']=df['latest_pos']-df['prev_pos']

## Eliminate rows that contain off_limits_artist/label

In [16]:
off_limits_artist=pd.read_excel('spreadsheet/off_limits_artists.xlsx')

In [17]:
off_limits_label=pd.read_excel('spreadsheet/off_limits_labels.xlsx')

In [18]:
off_limits_label.head()

                                 label Unnamed: 1
0                               [PIAS]        NaN
1                       [PIAS] Belgium        NaN
2            [PIAS] Recordings Belgium        NaN
3            [PIAS] Recordings Germany        NaN
4  [PIAS] Recordings Germany / Hostess        NaN

In [19]:
off_limits_artist.head()

                   artist
0               21 Savage
1  03 Greedo, Mustard, YG
2                   1.Cuz
3                2 Chainz
4              23 Drillas

In [20]:
off_limits_label=off_limits_label.drop(['Unnamed: 1'],axis=1)#datacleaning

In [21]:
alist=off_limits_artist['artist'].tolist()
llist=off_limits_label['label'].tolist()
alist = [a.lower() for a in alist]
llist=[l.lower() for l in llist]

In [22]:
#eliminate rows by matching the artist/label column(lowercased) with the two lowercased lists
df=df[~df['artist'].apply(lambda x: x.lower()).isin(alist)]
df=df[~df['label'].apply(lambda x: x.lower()).isin(llist)]

In [23]:
df.head()

,artist,chart_type,country,days_chart,hist_pos,isrc,latest_pos,peak_date,peak_pos,pos_chg,label,r_date,album_id,artist_id,track_id,track,prev_pos
10,"NSG, Tion Wayne",regional,United Kingdom,84,"193, 191, 166, 181, 130, 134, 133, 143, 133, 9...",QM6P41894589,11,2019-01-31,8,0,NSG Entertainment,2018-11-29,35MvbFXqp1ESDkKNqYfOIM,"31Ua7zSTJxegjyd49ujbSA, 7b79bQFziJFedJb75k6hFt",2cytBOLpwFRX7J9URCrFIe,Options,11
30,"Cadet, Deno",regional,United Kingdom,180,"165, 124, 117, 126, 110, 112, 104, 91, 92, 92,...",UKFBX1800008,31,2019-02-08,21,-1,Underrated Legends,2018-09-13,4wOuGy0YTmOHjHIUo6drO8,"1Gm0kKaDx4GH6pQF88rjSK, 58ICshZ0AgBMNJiLHK3U8l",1fp2uoWXPca3mIdxRHIgQm,Advice,32
70,The Killers,regional,United Kingdom,977,"58, 72, 92, 103, 95, 98, 92, 77, 92, 93, 102, ...",USIR20400274,71,2017-10-19,30,8,"Universal, Island Def Jam",2003-12-31,4undIeGmofnAYKhnDclN1w,0C0XlULifJtAgn6ZNCW2eu,7oK9VyNzrYvRFo7nQEYkWN,Mr. Brightside,63
73,"Billie Eilish, Khalid",regional,United Kingdom,98,"126, 139, 126, 98, 97, 98, 107, 129, 155, 128,...",USUM71804190,74,2019-02-02,51,2,Darkroom,2017-08-10,5YCdlD3eREt72lTZxNL7id,"6qqNVTkY8uBg9cP3Jd7DAH, 6LuN9FCkKOj5PcnpouEgny",1NJcg626wLln4pGHpiV7mf,lovely - Bonus Track,72
85,"Calvin Harris, Dua Lipa",regional,United Kingdom,342,"4, 4, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1...",GBARL1800368,86,2018-04-13,1,4,Sony Music UK,2018-04-05,7GEzhoTiqcPYkOprWQu581,"7CajNmpbOovFoOoasH2HaY, 6M2wZ9GZgrQXHCFfjv46we",7ef4DlsgrMEH11cDZd32M6,One Kiss (with Dua Lipa),82

## Create a "count" column

In [24]:
df['freq'] = df.artist_id.groupby(df.artist_id).transform('count')

In [25]:
len(df) #make sure 173 rows remaining

173

## "latest_pos" ASC and "freq" DESC

In [26]:
df=df.sort_values(by=['latest_pos'],ascending=True)
df=df.sort_values(by=['freq'],ascending=False)

## Column rearrangement

In [27]:
newdf = df[['artist', 'track', 'r_date', 'label','country','chart_type','latest_pos','days_chart','freq','peak_pos','peak_date','pos_chg','hist_pos','track_id','artist_id','album_id','isrc']]

## Part 2

## Use "Spotipy" package for Spotify API Implementation

In [28]:
import sys
import spotipy
import spotipy.util as util
import json
import requests
from spotipy.oauth2 import SpotifyClientCredentials
import spotipy.oauth2 as oauth2

ModuleNotFoundError: No module named 'spotipy'

In [ ]:
CLIENT_ID = "4844e78939264311ae7cad10a2fe9da7"
CLIENT_SECRET = "cb03b8d535e247b787a58d031b3a8ec6"

In [ ]:
credentials = oauth2.SpotifyClientCredentials(client_id=CLIENT_ID,client_secret=CLIENT_SECRET)
token = credentials.get_access_token()
sp = spotipy.Spotify(auth=token)

## Obtain track_uri, song popularity score, and release_date

In [ ]:
songpop=[]
uri=[]
redate=[]
for i in newdf['track_id']:
    songpop.append(sp.track(i)['popularity'])
    uri.append(sp.track(i)['uri'])
    redate.append(sp.track(i)['album']['release_date'])

## Obtain the track's label/distributor

In [ ]:
newlabel=[]
for i in newdf['album_id']:
    newlabel.append(sp.album(i)['label'])

## obtain the artist's popularity score

In [ ]:
artistpop=[]
for i in newdf['artist_id']:
    k=i.split(', ') #there might be multiple artits for one song
    together=[]#append multiple artists' popularity score in a list
    for j in k:
        together.append(sp.artist(j)['popularity'])
    artistpop.append(together)

In [ ]:
newdf['r_date']=redate
newdf['label']=newlabel

In [ ]:
newdf['track_uri']=uri
newdf['sp']=songpop
newdf['ap']=artistpop

## Drop songs released prior to 2018-06-01

In [ ]:
## there are certain songs with only "year" but no "date", python automatically fill in the date 
## as "01-01" when implementing "to_datetime", but since all the years corresponding to missing 
##dates are very early like 1990 we can ignore that
newdf['r_date']=pd.to_datetime(newdf['r_date'])

In [ ]:
newdf=newdf[~(newdf[('r_date')].dt.year<2018)]#drop the dates before 2018

In [ ]:
newdf=newdf[~((newdf[('r_date')].dt.year==2018)&(newdf[('r_date')].dt.month<6))] #drop the dates in 2018 but before June

In [ ]:
newdf.shape#ensure 35 rows left

## Off-limits elimination

In [ ]:
newdf=newdf[~newdf['artist'].apply(lambda x: x.lower()).isin(alist)]

In [ ]:
newdf=newdf[~newdf['label'].apply(lambda x: x.lower()).isin(llist)]

In [ ]:
newdf.shape

In [ ]:
## Based on the sample output, it seems "lastest_pos" column was sorted ascending but
##"freq" was not sorted descending, so I skipped the second step of sorting

In [ ]:
newdf=newdf.sort_values(by=['latest_pos'],ascending=True)

In [ ]:
#newdf=newdf.sort_values(by=['freq'],ascending=False)

In [ ]:
newdf=newdf.iloc[:20] ##only keep the first 20 rows

## Arrange final columns

In [ ]:
finaldf=newdf[['artist','track','r_date','label','sp','ap','country','chart_type','latest_pos','days_chart','freq','peak_pos','peak_date','pos_chg','hist_pos','track_uri']]

In [ ]:
finaldf.to_csv('interview_test/final_report.csv',index=False)

## Create a new playlist

In [ ]:
import requests

In [ ]:
#curl -X POST "https://api.spotify.com/v1/users/thelinmichael/playlists" 
#-H "Authorization: Bearer {'BQDJ-nN77Hp5AfIHUXNCdZvMh0k-J3zQRYVpX41vDgaN0lBe1QyykJa3dhwnTPQsGgguBgSsgln0yZgQGK8'}" 
#-H "Content-Type: application/json" 
#--data "{\"name\":\"A New Playlist\", \"public\":true}"
#sample request

In [ ]:
headers = {
    "Authorization": "Bearer BQDdhNA98oK3StzIUcVw9rGIDJjs5dbl8RxjqNs9Y9DJ7ozb_S2loQVKp0EFsZIZWN98WpZAYsT1B67erTwjrHydMXgTCo0ce0ViFjwWoUujuMqINj5xdHmNW-DkNx_azi2QIVuaLNRNBkFFANl9rR40-HG4n3eXY9lL1OS3r94wV6VXlnWlDniabyB0gR8u_4nW9cXXlIHRpGqpe6c2",
    "Content-type": "application/json"
}

In [ ]:
data="{\"name\":\"A&R Playlist\", \"public\":true}"

In [ ]:
url="https://api.spotify.com/v1/users/zc674/playlists"

In [ ]:
r = requests.post(url,headers=headers,data=data)

In [ ]:
r #make sure the request is successful

## Add songs to the newly created playlist

In [ ]:
scope='playlist-read-private playlist-modify-public playlist-modify-private playlist-read-collaborative'

In [ ]:
username='zc674'

In [ ]:
token2=util.prompt_for_user_token(username,scope,client_id=CLIENT_ID,client_secret=CLIENT_SECRET,redirect_uri='http://localhost:8888/')

In [ ]:
token2

In [ ]:
## The follwing steps I used API to get the information of all my playlist and most importantly
## to obtain my playlistID so I can add new songs to the newly-created playlist

In [ ]:
url="https://api.spotify.com/v1/users/zc674/playlists"

In [ ]:
headers={
    "Authorization": "Bearer BQDdhNA98oK3StzIUcVw9rGIDJjs5dbl8RxjqNs9Y9DJ7ozb_S2loQVKp0EFsZIZWN98WpZAYsT1B67erTwjrHydMXgTCo0ce0ViFjwWoUujuMqINj5xdHmNW-DkNx_azi2QIVuaLNRNBkFFANl9rR40-HG4n3eXY9lL1OS3r94wV6VXlnWlDniabyB0gR8u_4nW9cXXlIHRpGqpe6c2"
}

In [ ]:
r = requests.get(url,headers=headers)

In [ ]:
print(r.json())

In [ ]:
## the newly created playlist ID is '2jd3M6AFQVW6SZVsOIcyYt'

In [ ]:
headers={"Authorization": "Bearer BQDdhNA98oK3StzIUcVw9rGIDJjs5dbl8RxjqNs9Y9DJ7ozb_S2loQVKp0EFsZIZWN98WpZAYsT1B67erTwjrHydMXgTCo0ce0ViFjwWoUujuMqINj5xdHmNW-DkNx_azi2QIVuaLNRNBkFFANl9rR40-HG4n3eXY9lL1OS3r94wV6VXlnWlDniabyB0gR8u_4nW9cXXlIHRpGqpe6c2",
         "Content-Type": "application/json",
         "Accept": "application/json"}

In [ ]:
##there are repetitive uris in the final dataframe so I only kept the unqiue songs
##there are altogether 12 unique songs in the 20 rows that are kept lastly
songlist=[]
for i in finaldf['track_uri']:
    k=i.replace("spotify:track:","")
    if k not in songlist:
        url='https://api.spotify.com/v1/playlists/2jd3M6AFQVW6SZVsOIcyYt/tracks/?uris=spotify%3Atrack%3A{}'.format(k)
        r = requests.post(url,headers=headers)
        songlist.append(k)

In [ ]:
r